.posts-app {
   /* Grid styles */
   grid-template-rows: 60px auto;
   // Gral styles.
   height: calc(100vh - 90px);
   padding: 0 20px;

   i {
      margin-right: 10px;
   }

   .column {
      padding: 0;
      margin: 0.75rem;
      width: min-content;
   }

   .card {
      width: 250px;
   }

   @media screen and (min-width: 769px) {
      .column.is-one-fifth {
         flex: none;
         width: min-content;
      }
   }
}